<link rel="preload" as="font" href="/public/fonts/iconfont/iconfont.woff" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="/public/fonts/Nunito-Sans/woff/NunitoSans-Regular.woff" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="/public/fonts/Nunito-Sans/woff/NunitoSans-SemiBold.woff" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="/public/fonts/Nunito-Sans/woff/NunitoSans-Bold.woff" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="/public/fonts/Montserrat/woff/Montserrat-Bold.woff" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="/public/fonts/Montserrat/woff/Montserrat-SemiBold.woff" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="/public/fonts/Syne/woff/Syne-Medium.woff" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="/public/fonts/Syne/woff/Syne-SemiBold.woff" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="/public/fonts/Steppe/woff/Steppe-SemiBold.woff" type="font/woff" crossorigin="anonymous">